.maps {
    display: flex;
    // justify-content: spa;
    align-items: center;
    flex-direction: column;
    @include media (850px) {
        flex-direction: row;
        justify-content: space-between;
    };
}

.map-wrapper {
    width: 80%;
    @include media (850px) {
        width: 48%;
    };
}

.map {
    width: 100%;
    height: 300px;
    @include media (700px) {
        height: 400px;
    }
}

.map__title {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.25em;
}
