html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.main-wrapper {
    width: 95%;
    max-width: 860px;
    margin: auto;
}

.body-block {
    margin-bottom: 4rem;
}
