.countdown {
    margin: 2rem;
    text-align: center;

}

.countdown__title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    @include media(820px) {
        font-size: 3rem;
    }
}

.countdown__text {
    font-size: 1.2rem;
}

.counter {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    // font-size: 2rem;
}

.counter__section {
    margin-bottom: 1rem;
    &:not(:last-of-type) {
        margin-right: 0.8rem;
    }
}

.counter__digit {
    display: inline-block;
    padding: 1rem;
    line-height: 1;
    color: white;
    background-color: #333;
    border-radius: 4px;

    &:nth-of-type(2n) {
        margin-left: -0.5rem;
    }
}

.counter__unit {
    margin-left: -0.5rem;

    @include media(536px) {
        .u-invisible-text {
            display: none;
        }
    }
}
