.hero-block {
    position: relative;
    height: 100vh;
}

.hero__background {
    @include size(100%);
    object-fit: cover;
}

.hero__logo {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 830px;

    img {
        width: 100%;
    }
}
