.languagebar {
    width: 100%;
    position: absolute;
    text-align: right;
    z-index: 99;
}

.language-options {
    padding: .5rem .75rem;

    li {
        display: inline-block;
        padding-left: .5rem;

        a {
            color: rgba(#03a1ff, 0.8);

            &:hover {
                color: rgba(#03a1ff, 0.6);
            }
        }
    }
}
