.sponsors {
}

.sponsors__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsor {
    width: 30%;
    @include media (600px) {
        width: 20%;
    }

    img {
        width: 100%
    }
}
